@font - face {
    font-family: 'Super Croissant';
    src: url('./fonts/Super Croissant.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
 
body {
    font-family: 'Super Croissant', sans - serif;
}
