@font-face {
    font-family: 'SuperCroissant';
    src: url('./fonts/Super Croissant.woff') format('woff'),
        url('./fonts/Super Croissant.woff2') format('woff2'),
        url('./fonts/Super Croissant.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 200px;
  align-items: center;
  background-color: #45325C;
}

.container div {
  background-color: #4A5D32;
  margin: 10px;
  padding: 20px;
  font-size: 24px;
}

h1,
h2 {
    font-family: 'SuperCroissant', sans-serif;
}

.updates {
  height: 200px;
  overflow: scroll;
}

.grid-item1 {
  padding-left: 150px;
  padding-right: 150px;
  
}

@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }
}
