@font-face {
    font-family: 'SuperCroissant';
    src: url('./fonts/Super Croissant.woff') format('woff'),
        url('./fonts/Super Croissant.woff2') format('woff2'),
        url('./fonts/Super Croissant.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: "Punkfarm6";
  src: url('./fonts/Punkfarm6.woff2') format('woff2'), 
      url('./fonts/Punkfarm6.woff') format('woff'),
      url('./fonts/Punkfarm6.ttf') format('truetype');
}
@font-face {
  font-family: "Punkfarm5";
  src: url('./fonts/Punkfarm5.woff2') format('woff2'), 
      url('./fonts/Punkfarm5.woff') format('woff'),
      url('./fonts/Punkfarm5.ttf') format('truetype');
}
@font-face {
  font-family: "Punkfarm2";
  src: url('./fonts/Punkfarm2.woff2') format('woff2'), 
      url('./fonts/Punkfarm2') format('woff'),
      url('./fonts/Punkfarm2.ttf') format('truetype');
}
@font-face {
  font-family: "Punkfarm4";
  src: url('./fonts/Punkfarm4.woff2') format('woff2'), 
      url('./fonts/Punkfarm4.woff') format('woff'),
      url('./fonts/Punkfarm4.ttf') format('truetype');
}
@font-face {
  font-family: "Punkfarm3";
  src: url('./fonts/Punkfarm3.woff2') format('woff2'), 
      url('./fonts/Punkfarm3.woff') format('woff'),
      url('./fonts/Punkfarm3.ttf') format('truetype');
}
@font-face {
  font-family: "Punkfarm1";
  src: url('./fonts/Punkfarm1.woff2') format('woff2'), 
      url('./fonts/Punkfarm1.woff') format('woff'),
      url('./fonts/Punkfarm1.ttf') format('truetype');
}


* {
    margin: 0;
    padding: 20;
    box-sizing: border-box;
}

header {
    font-family: Punkfarm4;
    font-size: 200px;
    text-align: center;
    padding: 10;
}

body {
    font-family: Punkfarm1, Punkfarm2, Punkfarm3, Punkfarm4, Punkfarm5, Punkfarm6, SuperCroissant,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
                 Oxygen, Ubuntu, Cantarell, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #2c3e50;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url(blob:https://drive.proton.me/4898b5fb-d6fe-46f8-8d25-804305d58eec);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

hr {
    display:block;
    border:0px;
    height:10px;
    background-image:url('img.gif');
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 800px;
    align-items: center;
    background-color: #af889c;
    
}

.container div {
    background-color: #9CAF88;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
}

h1 {
    font-family: Punkfarm1, sans-serif;
}

h2 {
    font-family: Punkfarm2, sans-serif;
}

.paper {
    background-image: url(./images/papertiles.png);
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.updates {
    height: 200px;
    overflow: scroll;
}

.grid-item1 {
    padding-left: 150px;
    padding-right: 150px;
  
}

@media (max-width: 600px) {
    .flex-container {
    flex-direction: column;
  }
}
