@font-face {
    font-family: 'SuperCroissant';
    src: url('./fonts/Super Croissant.woff') format('woff'),
        url('./fonts/Super Croissant.woff2') format('woff2'),
        url('./fonts/Super Croissant.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
 
body {
    font-family: 'SuperCroissant', sans-serif;
}
