@font-face {
    font-family: 'SuperCroissant';
    src: url('./fonts/Super Croissant.woff') format('woff'),
        url('./fonts/Super Croissant.woff2') format('woff2'),
        url('./fonts/Super Croissant.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
 
h1,
h2 {
    font-family: 'SuperCroissant', sans-serif;
}

.updates {
  height: 200px;
  overflow: scroll;
}

.grid-item1 {
  padding-left: 150px;
  padding-right: 150px;
  
}
